<!DOCTYPE html>
<html>
<head>
  <title>Home</title>
</head>
<body>
  <h1>Welcome to Student Management</h1>
  <a href="/students">View Students</a><br>
  <a href="/auth/logout">Logout</a>
</body>
</html>
