<!DOCTYPE html>
<html>
<head>
  <title>Uploaded Files</title>
</head>
<body>
  <h1>Uploaded Files</h1>
  <ul>
    <% files.forEach(file => { %>
      <li>
        <a href="/files/download/<%= file %>"><%= file %></a>
      </li>
    <% }) %>
  </ul>
</body>
</html>
