<!DOCTYPE html>
<html>
<head>
  <title>Register</title>
</head>
<body>
  <h1>Register and Upload Files</h1>
  <form action="/register" method="POST" enctype="multipart/form-data">
    <label for="username">Username:</label>
    <input type="text" name="username" required>
    <br> <br>
    <label for="password">Password:</label>
    <input type="password" name="password" required>
    <br> <br>
    <label for="files">Upload Files:</label>
    <input type="file" name="files" multiple>
    <br><br>
    <button type="submit">Register</button>
  </form>
</body>
</html>
